*{
  margin: 0;
  padding: 0;
}
ul,li{
  list-style: none;
}
.title{
 padding: 20px;

}
.title input{
  width:300px;
  height: 30px;
  line-height: 30px;
  text-indent: 10px;
  border: 1px solid #ccc;
}
:focus{
  outline: -webkit-focus-ring-color auto 0px;
  outline-offset: 0px;
}
.title input:focus{
  border-color: #257894;
}
.title button{
  height: 32px;
  width: 90px;
  border: 1px solid #ccc;
  border-left: none;
  background: #fff;
  margin-top: -1px;
}
.title button:hover{
  border-color: #257894;
  color: #257894;
}
.content{
  padding: 0px 20px;
}
.content li{
  height: 30px;
  line-height: 30px;
}